@model BooksViewModel

<h1>My Bookstore</h1>

@foreach (Books p in Model.Books)
{
    <partial name="BookSummary" model="p" />

}
@* pagination according to how many books*@
<div page-blah="@Model.PageInfo" page-action="Index"
     page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>