@page
@model Bookstore_jn375.Pages.PurchaseCompletedModel
@{
}
<div class="text-center">
    <h2>Thanks for your purchase! Please visit again soon!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>